flows/LedArmDashBoard.flow
[{"id":"dbc79154.ee4f88","type":"ibmiot out","z":"9eabae73.c9738","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tjbot","deviceType":"tjbot","eventCommandType":"turnRight","format":"json","data":"temp:10","qos":"","name":"Send CMD to TJBot","service":"registered","x":562,"y":79,"wires":[]},{"id":"109cff60.be17d9","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":102,"y":79,"wires":[["ed504c75.ce8088"]]},{"id":"ed504c75.ce8088","type":"function","z":"9eabae73.c9738","name":"ArmBACK","func":"\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: \n    {\n      d:{\n          \"action\" : \"armBACK\",  \n          \"motorSpin\": 500, // Range is 500 to 20000\n          \"counter\" : counter1\n\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"armBACK\";\nreturn msg;\n","outputs":1,"noerr":0,"x":296,"y":81,"wires":[["dbc79154.ee4f88","ead4393a.8b23a8"]]},{"id":"ead4393a.8b23a8","type":"debug","z":"9eabae73.c9738","name":"totj","active":true,"console":"false","complete":"payload","x":537.5556030273438,"y":331.2222595214844,"wires":[]},{"id":"9ca7c246.cc0cf","type":"comment","z":"9eabae73.c9738","name":"1. Configure target","info":"","x":552,"y":39,"wires":[]},{"id":"4dac1177.6da458","type":"comment","z":"9eabae73.c9738","name":"2. Control TJ","info":"","x":80,"y":38,"wires":[]},{"id":"95a6161c.d0bf4","type":"function","z":"9eabae73.c9738","name":"ArmForward","func":"\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: \n    {\n      d:{\n          \"action\" : \"armFORWARD\",  \n          \"motorSpin\": 2000, // Range is 500 to 20000\n\n          \"counter\" : counter1\n\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"armFORWARD\";\nreturn msg;\n","outputs":1,"noerr":0,"x":286.77777099609375,"y":126.22222900390625,"wires":[["ead4393a.8b23a8","dbc79154.ee4f88"]]},{"id":"967fd1cd.877f8","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":93.77777099609375,"y":126.22222900390625,"wires":[["95a6161c.d0bf4"]]},{"id":"1e6ce951.0cba0f","type":"function","z":"9eabae73.c9738","name":"ArmWAVE","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: \n    {\n      d:{\n          \"action\" : \"armWAVE\",  \n          \"counter\" : counter1\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"armWAVE\";\nreturn msg;\n","outputs":1,"noerr":0,"x":281,"y":218.33331298828125,"wires":[["dbc79154.ee4f88","ead4393a.8b23a8"]]},{"id":"ab5df53f.5d5f6","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":94,"y":218.33331298828125,"wires":[["1e6ce951.0cba0f"]]},{"id":"363e1691.5d0432","type":"function","z":"9eabae73.c9738","name":"LEDOn","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nvar msg = {\n  payload: \n    {\n      d:{\n        \"action\"  : \"ledON\", \n        \"color\"   : 0x000000, //GRB\n        \"counter\" : counter1\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"ledON\";\nreturn msg;\n","outputs":1,"noerr":0,"x":269.77777099609375,"y":413.33331298828125,"wires":[["ead4393a.8b23a8","dbc79154.ee4f88"]]},{"id":"ea6635c4.365a68","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":88.77777099609375,"y":413.33331298828125,"wires":[["363e1691.5d0432"]]},{"id":"490ec8a7.1f174","type":"function","z":"9eabae73.c9738","name":"LEDOff","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: \n    {\n      d:{\n        \"action\" : \"ledOff\", \n         \"counter\" : counter1\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"ledOFF\";\nreturn msg;\n","outputs":1,"noerr":0,"x":266.22222900390625,"y":455.88885498046875,"wires":[["ead4393a.8b23a8","dbc79154.ee4f88"]]},{"id":"54238ebc.e9fcb8","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":85.22222900390625,"y":455.88885498046875,"wires":[["490ec8a7.1f174"]]},{"id":"5d7a3b71.f77c9c","type":"function","z":"9eabae73.c9738","name":"LEDRed","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload:\n    {\n      d:{\n        \"action\" : \"ledRED\", \n        \"counter\" : counter1\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"ledRED\";\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":536,"wires":[["dbc79154.ee4f88"]]},{"id":"62528c81.f63f6c","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":99,"y":536,"wires":[["5d7a3b71.f77c9c"]]},{"id":"3fc0ae61.bfc95a","type":"function","z":"9eabae73.c9738","name":"LEDBlue","func":"\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nvar msg = {\n  payload: \n    {\n      d:{\n        \"action\" : \"ledBLUE\", \n       \"counter\" : counter1\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"ledBLUE\";\nreturn msg;\n","outputs":1,"noerr":0,"x":273,"y":590,"wires":[["dbc79154.ee4f88"]]},{"id":"1c7dd9c1.9b9e96","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":92,"y":590,"wires":[["3fc0ae61.bfc95a"]]},{"id":"8abebf49.4155f8","type":"function","z":"9eabae73.c9738","name":"LEDGreen","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: \n    {\n      d:{\n        \"action\" : \"ledGREEN\", \n             \"counter\" : counter1\n        // not use old for testing\n  // //   \"increment\": 0,\n       // \"interval\": 250,\n    //    \"stopat\": 1501,\n      //  \"motorSpin\": 1800,\n        //\"turn\" : 500,\n//        \"temp\" : temp1[counter1],\n  //      \"humidity\" : humidity1[counter1],\n    //    \"location\" :\n      //  {\n        //  \"longitude\" : longitude1,\n         // \"latitude\" : latitude1\n    //    },\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"ledGREEN\";\nreturn msg;\n","outputs":1,"noerr":0,"x":276,"y":648,"wires":[["dbc79154.ee4f88"]]},{"id":"90d54c58.4884e","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":85,"y":648,"wires":[["8abebf49.4155f8"]]},{"id":"41bc37cb.e7c1f","type":"function","z":"9eabae73.c9738","name":"ArmMove500","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nvar msg = {\n  payload:  //JSON.stringify(\n    {\n      d:{\n        \"action\" : \"armMove\", \n        \"motorSpin\": 500, // Range is 500 to 2000\n        \"counter\" : counter1\n      }\n    }\n\n};\nmsg.eventOrCommandType = \"armMove\";\nreturn msg;\n","outputs":1,"noerr":0,"x":277,"y":311,"wires":[["ead4393a.8b23a8","dbc79154.ee4f88"]]},{"id":"50afc61.d4e33b8","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":85,"y":310,"wires":[["41bc37cb.e7c1f"]]},{"id":"d74e4304.1a2e2","type":"function","z":"9eabae73.c9738","name":"ArmMove2000","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nvar msg = {\n  payload:  //JSON.stringify(\n    {\n      d:{\n        \"action\" : \"armMove\", \n        \"motorSpin\": 2000, // Range is 500 to 2000\n          \"counter\" : counter1\n      }\n    }\n\n};\nmsg.eventOrCommandType = \"armMove\";\nreturn msg;\n","outputs":1,"noerr":0,"x":277.2222595214844,"y":346.5555725097656,"wires":[["dbc79154.ee4f88"]]},{"id":"e39e3878.60c13","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":82.77780151367188,"y":342.1111145019531,"wires":[["d74e4304.1a2e2"]]},{"id":"90fd6916.a3ceb","type":"function","z":"9eabae73.c9738","name":"LEDSetColorYellow","func":"\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nvar msg = {\n  payload:\n    {\n      d:{\n        \"action\" : \"ledSET\", \n        \"color\"  : 0xFFFF00, //GRB //yellow\n        \"value\"  : \"yellow\",\n        \"counter\": counter1\n        }\n      }\n    \n  \n};\nmsg.eventOrCommandType = \"ledSET\";\nreturn msg;\n","outputs":1,"noerr":0,"x":301.66668701171875,"y":701,"wires":[["dbc79154.ee4f88","ead4393a.8b23a8"]]},{"id":"cfd883e5.56509","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":74.00003051757812,"y":701,"wires":[["90fd6916.a3ceb"]]},{"id":"b5a4803f.a498d","type":"function","z":"9eabae73.c9738","name":"ArmUP","func":"\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 999) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: \n    {\n      d:{\n          \"action\" : \"armUP\",  \n          \"motorSpin\": 1500, // Range is 500 to 20000\n\n          \"counter\" : counter1\n\n      }\n    }\n  \n};\nmsg.eventOrCommandType = \"armUP\";\nreturn msg;\n","outputs":1,"noerr":0,"x":268.3333740234375,"y":166.5555419921875,"wires":[["dbc79154.ee4f88"]]},{"id":"75095643.74c35","type":"inject","z":"9eabae73.c9738","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":85.3333740234375,"y":166.5555419921875,"wires":[["b5a4803f.a498d"]]},{"id":"9d54c124.4c1978","type":"ibmiot in","z":"9eabae73.c9738","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"tjbot","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FromTJ","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":780.357177734375,"y":83.53570556640625,"wires":[["43033d1b.973af4","7c8139d.1827148"]]},{"id":"43033d1b.973af4","type":"debug","z":"9eabae73.c9738","name":"","active":false,"console":"false","complete":"false","x":950.357177734375,"y":83.78570556640625,"wires":[]},{"id":"7c8139d.1827148","type":"switch","z":"9eabae73.c9738","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"dht","vt":"str"},{"t":"cont","v":"tjlisten","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":785.0794677734375,"y":157.38888549804688,"wires":[["53adef82.6a072"],[],["e6e6c480.42c688"]]},{"id":"53adef82.6a072","type":"function","z":"9eabae73.c9738","name":"TemperatureHumidity","func":"msg.temperature = msg.payload.temperature;\nmsg.humidity = msg.payload.humidity;\nmsg.led =  msg.payload.led;\nmsg.arm =  msg.payload.arm;\n\nreturn msg;","outputs":1,"noerr":0,"x":981.0316162109375,"y":155.40475463867188,"wires":[["fad96cda.b0cf28","9a937c30.2640d8","98754d0e.e842b","7e548f05.69b3f8","45525b44.37f32c","525ae31d.97b0fc","a5a24cee.66ec1","df6173b4.be1d98"]]},{"id":"fad96cda.b0cf28","type":"debug","z":"9eabae73.c9738","name":"temperature","active":true,"console":"false","complete":"true","x":1008.6112060546875,"y":210.14691162109375,"wires":[]},{"id":"e6e6c480.42c688","type":"debug","z":"9eabae73.c9738","name":"otherFromTJ","active":false,"console":"false","complete":"payload","x":782.3017578125,"y":207.98416137695312,"wires":[]},{"id":"6f6459d1.06d238","type":"ui_button","z":"9eabae73.c9738","name":"","group":"85201fbb.c826d","order":0,"width":0,"height":0,"passthru":false,"label":"Wave Arm","color":"","bgcolor":"","icon":"","payload":"wave","payloadType":"str","topic":"","x":102.95651245117188,"y":813.5992431640625,"wires":[["1e6ce951.0cba0f"]]},{"id":"45525b44.37f32c","type":"ui_text","z":"9eabae73.c9738","group":"a1a5c4e0.8df048","order":0,"width":0,"height":0,"name":"","label":"Led","format":"{{msg.led}}","layout":"row-spread","x":1364.7421875,"y":268.2221984863281,"wires":[]},{"id":"7e548f05.69b3f8","type":"ui_text","z":"9eabae73.c9738","group":"a1a5c4e0.8df048","order":0,"width":0,"height":0,"name":"","label":"Arm","format":"{{msg.arm}}","layout":"row-spread","x":1370.853271484375,"y":308.2222595214844,"wires":[]},{"id":"98754d0e.e842b","type":"ui_text","z":"9eabae73.c9738","group":"a1a5c4e0.8df048","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.temperature}}","layout":"row-spread","x":1393.0755615234375,"y":353.7778015136719,"wires":[]},{"id":"9a937c30.2640d8","type":"ui_text","z":"9eabae73.c9738","group":"a1a5c4e0.8df048","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.humidity}}","layout":"row-spread","x":1390.853271484375,"y":417.11114501953125,"wires":[]},{"id":"8a5d8a38.afee98","type":"ui_gauge","z":"9eabae73.c9738","name":"","group":"fbc329d9.1e3dc8","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1366.6075575086807,"y":152.23013983832465,"wires":[]},{"id":"e89ed220.8a06e","type":"ui_chart","z":"9eabae73.c9738","name":"","group":"fbc329d9.1e3dc8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1367.302001953125,"y":205.00790405273438,"wires":[[],[]]},{"id":"525ae31d.97b0fc","type":"function","z":"9eabae73.c9738","name":"Temperature","func":"msg.payload = msg.payload.temperature;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1199.107177734375,"y":147.78570556640625,"wires":[["e89ed220.8a06e","8a5d8a38.afee98","7dcdafe.ecbedd"]]},{"id":"7ab1a991.f7f618","type":"comment","z":"9eabae73.c9738","name":"Dashboard","info":"","x":1351.25,"y":48.142845153808594,"wires":[]},{"id":"945ecba1.95ffc","type":"ui_button","z":"9eabae73.c9738","name":"","group":"85201fbb.c826d","order":0,"width":0,"height":0,"passthru":false,"label":"Led Off","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":97.85714721679688,"y":860.9998779296875,"wires":[["490ec8a7.1f174"]]},{"id":"e119e15a.3fd78","type":"ui_button","z":"9eabae73.c9738","name":"","group":"85201fbb.c826d","order":0,"width":0,"height":0,"passthru":false,"label":"Led Red","color":"","bgcolor":"","icon":"","payload":"red","payloadType":"str","topic":"","x":95,"y":905.2857055664062,"wires":[["5d7a3b71.f77c9c"]]},{"id":"3bd6db39.817d1c","type":"ui_button","z":"9eabae73.c9738","name":"","group":"85201fbb.c826d","order":0,"width":0,"height":0,"passthru":false,"label":"Arm backwards","color":"","bgcolor":"","icon":"","payload":"Back","payloadType":"str","topic":"","x":103.57144165039062,"y":763.8571166992188,"wires":[["ed504c75.ce8088"]]},{"id":"7dcdafe.ecbedd","type":"debug","z":"9eabae73.c9738","name":"temperature","active":false,"console":"false","complete":"payload","x":1385,"y":103.85714721679688,"wires":[]},{"id":"305e4f0e.94c55","type":"ui_template","z":"9eabae73.c9738","group":"a1a5c4e0.8df048","name":"","order":0,"width":0,"height":0,"format":"<style>\n#circle {\n      width: 50px;\n      height: 50px;\n      -webkit-border-radius: 25px;\n      -moz-border-radius: 25px;\n      border-radius: 25px;\n      background: {{msg.payload}};\n    }\n</style>    \nLED:    <div id=\"circle\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":1297.142822265625,"y":539.5714111328125,"wires":[[]]},{"id":"a5a24cee.66ec1","type":"function","z":"9eabae73.c9738","name":"Led","func":"msg.payload = msg.payload.led;\nif ( msg.payload == 'on')\n    msg.payload = \"white\"\nif ( msg.payload == 'off')\n    msg.payload = \"black\"\nreturn msg;","outputs":1,"noerr":0,"x":1092.142822265625,"y":541.0000610351562,"wires":[["305e4f0e.94c55","84bd0b85.60a6a"]]},{"id":"ff883a9d.50e9a","type":"ui_gauge","z":"9eabae73.c9738","name":"","group":"a1a5c4e0.8df048","order":0,"width":0,"height":0,"gtype":"gage","title":"TJ Arm","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#9f0205","#e4232a","#ca3838"],"seg1":"","seg2":"","x":1440.7142333984375,"y":611.0000610351562,"wires":[]},{"id":"df6173b4.be1d98","type":"function","z":"9eabae73.c9738","name":"TJArm","func":"msg.payload = msg.payload.arm;\nif(msg.payload == \"raised\")\n{    flow.set(\"wave\",true);\n    msg.payload = 80\n}\nif(msg.payload == \"lower\")\n{    flow.set(\"wave\",true);\n    msg.payload = 0\n}\nif(msg.payload == \"back\")\n{    flow.set(\"wave\",true);\n    msg.payload = 180\n}    \nif(msg.payload == \"wave\")\n{\n    if(flow.get(\"wave\"))\n    {\n        msg.payload = 180\n        node.send(msg);\n        msg.payload = 0\n        node.send(msg);\n        msg.payload = 80\n        flow.set(\"wave\",false);\n    }    \n       msg.payload = 80\n}\nreturn msg;","outputs":1,"noerr":0,"x":1082.1430053710938,"y":619.5714721679688,"wires":[["8f1b28fb.1bcf1"]]},{"id":"8f1b28fb.1bcf1","type":"delay","z":"9eabae73.c9738","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1258.5714111328125,"y":617.7857666015625,"wires":[["ff883a9d.50e9a"]]},{"id":"9680d026.c7b6a","type":"ui_button","z":"9eabae73.c9738","name":"","group":"85201fbb.c826d","order":0,"width":0,"height":0,"passthru":false,"label":"Arm UP","color":"","bgcolor":"","icon":"","payload":"Raise","payloadType":"str","topic":"","x":65,"y":959.5714111328125,"wires":[["b5a4803f.a498d"]]},{"id":"84bd0b85.60a6a","type":"debug","z":"9eabae73.c9738","name":"temperature","active":true,"console":"false","complete":"payload","x":1267.857177734375,"y":486.71429443359375,"wires":[]},{"id":"e36fdfb6.19ab18","type":"ui_button","z":"9eabae73.c9738","name":"","group":"85201fbb.c826d","order":0,"width":0,"height":0,"passthru":false,"label":"Led Green","color":"","bgcolor":"","icon":"","payload":"Green","payloadType":"str","topic":"","x":282.1428527832031,"y":909.5714721679688,"wires":[["8abebf49.4155f8"]]},{"id":"85201fbb.c826d","type":"ui_group","z":"","name":"TJ Actions","tab":"ebbd0b40.ed6ab8","disp":true,"width":"6"},{"id":"a1a5c4e0.8df048","type":"ui_group","z":"","name":"TJ Status 5Sec Delay","tab":"ebbd0b40.ed6ab8","disp":true,"width":"6"},{"id":"fbc329d9.1e3dc8","type":"ui_group","z":"","name":"DHT22/11 Temperature","tab":"ebbd0b40.ed6ab8","disp":true,"width":"6"},{"id":"ebbd0b40.ed6ab8","type":"ui_tab","z":"","name":"TJRemote","icon":"dashboard","order":"1"}]
